* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cuprum', sans-serif;
}
:root {
    --lien: #FF2E00;
    --primary: #FF5C00;
    --white: #ffffff;
    --grey: #c3c3c3;
    --content: calc((100vw/12)*9.5);
    --small: calc((100vw/12)*0.5);
    --mid: calc(100vw/12);
    --big: calc((100vw/12)*2);
}
/* navigasi */
header {
    width: 20%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: .4s;
    position: fixed;
}
header:hover{
    transform: translateX(15px);
    box-shadow: 10px -10px 20px 0px rgba(255, 0, 0, 0.1);
}
header .logo{
    width: 150px;
    cursor: pointer;   
}
header .logo img {
    width: 100%;
    border-radius: 50%;
}
nav {
    display: flex;
    height: 180px;
    flex-direction: column;
    justify-content: space-around;
}
nav a {
    color: black;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
}
nav a:hover {
    color: rgb(255, 0, 0);
}
nav a i {
    margin-right: 15px;
}
nav a span {
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    transition: .4s;
}
nav a:hover span {
    transform: translateX(15px);
    box-shadow: inset 7px 7px 7px  rgba(0,0,0,0.1);
}
.social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    width: 100px;
    justify-content: center;
    align-items: center;
}
.social a {
    font-size: 2.3rem;
    color: black;
    text-align: center;
    transition: .4s;
    border: 1px solid transparent;
}
.social a:hover {
    transform: scale(1.4);
}
.social a:nth-child(1):hover {
        color: rgb(193, 53, 132);
}
.social a:nth-child(2):hover {
        color: rgb(66, 103, 178);
}
.social a:nth-child(4):hover {
        color: rgb(255, 0, 0);
}
/* end of navigasi */
/* home */
/* Section 1 */
.sec1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    height: 100vh;
    position: relative;
    left: 20%;
    top: 0;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.sec1 .logo {
    display: none;
}
.sec1:hover .icon1 {
    transform: translateY(10px);
}
.sec1:hover .icon2 {
    transform: translateX(-20px);
}
.sec1:hover .icon3 {
    transform: translateY(-20px);
}
.sec1:hover .icon4 {
    transform: translateX(-20px);
}
.sec1:hover .icon5 {
    transform: translateX(10px);
}
.sec1:hover .icon6 {
    transform: translateY(-15px);
}
.sec1:hover .icon7 {
    transform: translateX(20px);
}
.sec1 .icon1, .icon2, .icon3, .icon4, .icon5, .icon6, .icon7 {
    position: absolute;
    transition: .4s;
    z-index: -9;
}
.sec1 i {
    font-size: 3.5rem;
    color: #999;
}
.icon1 {
    top: 10%;
    left: 60%;
}
.icon2 {
    top: 75%;
    left: 70%;
}
.icon3 {
    top: 35%;
    left: 80%;
}
.icon4 {
    top: 20%;
    left: 12%;
}
.icon5 {
    top: 60%;
    left: 10%;
}
.icon6 {
    top: 80%;
    left: 40%;
}
.icon7 {
    top: 5%;
    left: 35%;
}
.content1 {
    font-family: Inconsolata, monospace;
    position: absolute;
    display: grid;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
}
.sec1 .text1 {
    border: 2px solid #ddd;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    box-shadow: -30px -30px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow: -20px -20px 0px 0px rgba(255, 0, 0, 1);
    min-width: 450px;
    height: 180px;
    /* align-items: center; */
    /* text-align: justify; */
}
.sec1 .text1 span {
    color: rgb(255, 0, 0);
}
.sec1 .text1 h2 {
    line-height: 35px;
    display: inline-block;
    margin: 5px;
    font-size: 1.3rem;
    font-weight: 200;
}
.text1 p {
    color: #888;
}
.text1 i {
    font-size: 2rem;
    color: black;
}
.content1 h4 {
    text-align: center;
    padding-top: 30px;
    font-size: 1.2rem;
    font-weight: 100;
}
.content1 h4 span {
    color: rgb(255, 0, 0);
}
.work {
    position: fixed;
    top: 3%;
    right: 3%;
    width: 150px;
    height: 80px;
    border-radius: 30px;
    box-shadow: 0px 0px 30px 30px rgba(255, 0, 0, 0.1);
    transition: .4s;
    cursor: pointer;
    z-index: 9;
}
.work:hover{
    transform: scale(1.2);
    box-shadow: none;
}
.work img {
    width: 100%;
    position: absolute;
    top: -5px;
    height: 90px;
}
.work span {
    display: block;
    font-size: 1.6rem;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding-top: 5px;
}
.work span a {
    text-decoration: none;
    color: white;
}
.work span:nth-child(3) {
    padding-top: 50px;
}
.more {
    width: 120px;
    height: 35px;
    position: absolute;
    bottom: 3%;
    left: 50%;
    z-index: 99;
}
.more p {
    position: absolute;
    font-size: .95rem;
    line-height: 2.2rem;
}
.more i {
    position: absolute;
    right: 0;
    color: rgb(255, 0, 0);
    font-size: 2.2rem;
    cursor: pointer;
    animation: slidedown 3s infinite;
}
@keyframes slidedown {
    0% {
        transform: translateY(0%);
    }
    20% {
        transform: translateY(20%);
    }
    40% {
        transform: translateY(-5%);
    }
    60% {
        transform: translateY(0%);
    }
    80% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(0%);
    }
}
/* Section 1 end */
/* Section 2 */
.sec2 {
    width: 80%;
    height: 100vh;
    position: relative;
    left: 20%;
    overflow-x: hidden;
    box-sizing: border-box;
    transition: .4s;
}
.content2 {
    font-family: Inconsolata, monospace;
    position: relative;
    top: 3%;
    left: 50px;
    z-index: -1;
    display: grid;
    justify-content: start;
    width: 100%;
}
.sec2 .text1 {
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: white;
}
.sec2 .text1 p, h2 {
    display: inline-block;
    font-size: 1.2rem;
    margin: 5px;
}
.sec2 .text1 span {
    color: rgb(255, 0, 0);
}
.sec2 .message {
    position: relative;
    margin-top: 3%;
}
.sec2 .message .chat {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    margin-top: 3%;
    align-items: center;
}
.sec2 .message .chat .people, .chat2 .people {
    width: 50px;
    box-shadow: inset 7px 7px 7px  rgba(0,0,0,0.1);
    background-color: rgba(255, 255, 0, 0.2);
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
}
.sec2 .message .chat .chat-text {
    font-size: 1.2rem;
    letter-spacing: 1px;
    background-color: rgba(255,255,0,0.2);
    padding: 20px;
    border-radius: 10px;
    word-spacing: 2px;
    line-height: 30px;
}
.sec2 .message .chat-me {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 1fr;
    margin-top: 2%;
    align-items: center;
}
.sec2 .message .chat-me .me{
    width: 60px;
    box-shadow: inset 7px 7px 7px  rgba(0,0,0,0.1);
    background-color: rgba(255, 0, 0, .1);
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 2rem;
    margin-left: 20px;
}
.sec2 .message .chat-me .chat-text {
    font-size: 1.2rem;
    letter-spacing: 1px;
    background-color: rgba(255, 0, 0, .1);
    padding: 20px;
    border-radius: 10px;
    word-spacing: 2px;
    line-height: 30px;
}
.sec2 .message .chat2 {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    margin-top: 2%;
    align-items: center;
}
.sec2 .message .chat2 .chat-text2 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    background-color: rgba(255,255,0,0.2);
    padding: 20px;
    border-radius: 10px;
    word-spacing: 2px;
    line-height: 30px;
}
/* Section 2 end */
/* Section 3 */
.sec3 {
    width: 80%;
    height: 100vh;
    position: relative;
    left: 20%;
    overflow-x: hidden;
    box-sizing: border-box;
}
.content3 {
    font-family: Inconsolata, monospace;
    position: relative;
    margin-top: 2%;
    left: 50px;
    z-index: -1;
    display: grid;
    justify-content: start;
    width: 100%;
}
.sec3 .text1 {
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: transparent;
    padding: 5px;
}
.sec3 .text1 p, h2 {
    display: inline-block;
    margin: 5px;
    font-size: 1.2rem;
}
.sec3 .text1 span {
    color: rgb(255, 0, 0);
}
.sec3 .analis {
    position: relative;
    margin-top: 2%;
    width: 70%;
    left: 15%;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 4%;
    justify-content: center;
    text-align: center;
    transition: .4s;
}
.sec3 .analis:hover {
    transform: scale(1.4);
    gap: 2%;
} 
.sec3 .analis span {
    color: rgba(255, 0, 0, 1);
}
.sec3 .analis p {
    margin-top: 4%;
    font-size: 1.1rem;
    line-height: 140%;
    font-weight: 100;
}
.content4 {
    font-family: Inconsolata, monospace;
    position: relative;
    margin-top: 2%;
    left: 50px;
    z-index: -1;
    display: grid;
    justify-content: start;
    width: 100%;
}
/* section 3 end */
/* Section 4 */
.sec4 {
    width: 80%;
    height: 100vh;
    position: relative;
    left: 20%;
    overflow-x: hidden;
    box-sizing: border-box;
}
.sec4 .container:nth-child(3) {
    display: none;
}
.content5 {
    font-family: Inconsolata, monospace;
    position: relative;
    margin-top: 2%;
    left: 50px;
    z-index: -1;
    display: grid;
    justify-content: start;
    width: 100%;
}
.sec4 .text1 {
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: transparent;
    padding: 5px;
}
.sec4 .text1 p, h2 {
    margin: 5px;
    display: inline-block;
    font-size: 1.2rem;
}
.sec4 .text1 span {
    color: rgb(255, 0, 0);
}
.sec4 .container {
    margin: auto;
    width: 80%;
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    padding: 3%;
}

.sec4 .container .slide1{
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 30px 20px -30px rgba(0, 0, 0, 1);
    background-position: center;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.sec4 .container .slide1 .laptop {
    display: flex;
    width: 100%;
    animation: slide 30s infinite;
}
.sec4 .container .slide1 .laptop img {
    width: 100%;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-100%);
    }
    30% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(-200%);
    }
    50% {
        transform: translateX(-300%);
    }
    60% {
        transform: translateX(-300%);
    }
    70% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-100%);
    }
    90% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
/* section 4 end */
/* section 5 */
.sec5 {
    width: 80%;
    height: 100vh;
    position: relative;
    left: 20%;
    overflow-x: hidden;
    box-sizing: border-box;
}
.content6 {
    font-family: Inconsolata, monospace;
    position: relative;
    margin-top: 2%;
    left: 50px;
    z-index: -1;
    display: grid;
    justify-content: start;
    width: 100%;
}
.sec5 .text1 {
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: transparent;
    padding: 5px;
}
.sec5 .text1 p, h2 {
    display: inline-block;
    margin: 5px;
    font-size: 1.2rem;
}
.sec5 .text1 span {
    color: rgb(255, 0, 0);
}
.sec5 .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    justify-content: center;
    margin: auto;
    margin-top: 3%;
}
.sec5 .container .wrap {
    display: grid;
    grid-template-columns: 2fr 1fr 6fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    padding: 1%;
}
.sec5 .container .wrap span {
    display: block;
    width: 40%;
    height: 2px;
    background-color: rgb(255, 0, 0);
    justify-self: center;
}
.sec5 .container .wrap h2 i {
    color: rgb(255, 0, 0);
    margin-bottom: 5%;
}
.sec5 .container .wrap h2 {
    font-size: 1.8rem;
}
.sec5 .container .wrap p {
    font-size: 1.5rem;
    line-height: 120%;
    text-align: justify;
    align-self: center;
}
/* section 5 end */
/* end of home */
/* portofolio / section 6*/
.sec6 {
    width: 80%;
    height: 100vh;
    position: relative;
    left: 20%;
    overflow-x: hidden;
    box-sizing: border-box;
}
.sec6 h1 {
    font-size: 2rem;
    margin-left: 50px;
    margin-top: 0;
    font-weight: 400;
}
.sec6 h1 i {
    color: rgb(255, 0, 0);
}
.porto {
    font-family: Inconsolata, monospace;
    position: relative;
    margin: 5% auto;
    z-index: -1;
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 5%;
    width: 85%;
    height: auto;
}
.porto .porto-item {
    width: 100%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, .1);
    transition: .4s;
    border: 2px solid black;
}
.porto .porto-item h3 {
    position: absolute;
    top: -8%;
    font-size: 1.3rem;
    margin-left: 1%;
    color: rgb(255, 0, 0);
}
.porto .porto-item p {
    position: absolute;
    bottom: -11%;
    margin-left: 1%;
    font-size: 1.1rem;
}
.porto .porto-item p i {
    color: rgb(255, 0, 0);
}
.porto .porto-item img {
    width: 100%;
    /* height: 100%; */
}
.sec6 button {
    border: 1px solid red;
    margin: 1% 50px;
    transition: .4s;
    width: 180px;
    height: 40px;
    background-color: transparent;
}
.sec6 button a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: 1rem;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: .5s;
    line-height: 40px;
    font-weight: bold;
    background-color: transparent;
}
.sec6 button:hover a {
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    font-weight: bold;
}
.sec6 .slide {
    display: flex;
    width: 100%;
    /* height: 100%; */
    animation: slide 30s infinite;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-100%);
    }
    30% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(-200%);
    }
    50% {
        transform: translateX(-300%);
    }
    60% {
        transform: translateX(-300%);
    }
    70% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-100%);
    }
    90% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
/* section 6 / portofolio end */
/* section 7 / about me */
.sec7 {
    width: 80%;
    height: 100vh;
    position: relative;
    left: 20%;
    font-family: Cantarell Light, Calibri, 'Trebuchet MS', sans-serif;
}
.sec7 .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 1fr;
    position: relative;
    width: 65%;
    left: 5%;
    top: 5%;
}
.sec7 .container .about {
    width: 100%;
}
.sec7 .container .about h1 {
    margin-top: 3%;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}
.sec7 .container .about h2 {
    font-size: 1.8rem;
    font-weight: 100;
    font-weight: 600;
    margin-top: 5%;
    line-height: 2.5rem;
}
.sec7 .container .about p {
    font-size: 1.3rem;
    margin-top: 1%;
    margin-left: 4px;
    font-weight: 500;
}
.sec7 .tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1%;
}
.sec7 .tools h2 {
    font-size: 1.3rem;
}
.sec7 .tools p {
    font-size: 2rem;
    margin-left: 5px;
    margin-top: 5px;
    letter-spacing: 5px;
}
.sec7 .tools img {
    width: 35px;
}
/* section 7 / about end */
/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
    height: 20vh;
    position: relative;
    left: 20%;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Cantarell Light, Calibri, 'Trebuchet MS', sans-serif;
    /* transform: translateY(100%); */
}
/* footer end */
/* Responsive */
/* tablet */
@media (max-width:1000px) {
    header {
        width: 80px;
        height: 70vh;
        right: 0px;
        top: 10vh;
        background-color: rgb(195, 195, 195, 0.5);
        border-radius: 20px;
        z-index: 9;
    }
    header:hover {
        transform: none;
        box-shadow: none;
    }
    header .logo {
        display: none;
    }
    header nav a span {
        display: none;
    }
    header nav a {
        text-align: center;
        font-size: 2.2rem;
        margin-left: 15px;
        transition: .4s;
    }
    header nav a:hover {
        transform: scale(1.3);
    }
    .social {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 5px;
    }
    .work {
        top: 85vh;
        transform: scale(0.6);
    }
    .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7 {
        width: 100%;
        left: 0;
    }
    .sec7 .container {
        width: 80%;
        top: 3%;
    }
    .sec1 .logo{
        position: absolute;
        top: 3%;
        left: 40%;
        display: block;
        width: 150px;
        cursor: pointer;   
    }
    .sec1 .logo img {
        width: 100%;
        border-radius: 50%;
    }
}
/* phone */
@media (max-width:700px) {
    /* Header */
    header {
        width: 60px;
        border-radius: 20px;
        height: 50vh;
        top: 25vh;
    }
    header nav a {
        font-size: 1.5rem;
        margin-left: 15px;
    }
    header .social {
        row-gap: 1px;
    }
    header .social i {
        font-size: 1.5rem;
    }
    /* Setion 1 */
    .sec1 i {
        font-size: 2rem;
    }
    .sec1 .logo {
        top: 10%;
        left: 30%;
    }
    .sec1 .content1 {
        display: block;
        width:90%;
    }
    .sec1 .content1 .text1 {
        margin-left: 5px;
        padding: 5px;
        min-width: 100%;
        height: 155px;
        box-shadow: 0px 20px 20px -20px rgba(255, 0, 0, .5);
    }
    .sec1 .content1 .text1 h2 {
        font-size: 1.1rem;
    }
    .sec1 .content1 .text1 h4 {
        font-size: 1.1rem;
    }
    .icon1 {
        top: 15%;
        left: 80%;
    }
    .icon2 {
        top: 65%;
        left: 75%;
    }
    .icon3 {
        top: 33%;
        left: 55%;
    }
    .icon4 {
        top: 20%;
        left: 12%;
    }
    .icon5 {
        top: 70%;
        left: 15%;
    }
    .icon6 {
        top: 80%;
        left: 50%;
    }
    .icon7 {
        top: 3%;
        left: 35%;
    }
    .more p {
        display: none;
    }
    .more {
        left: 0;
    }
    /* Section 2 */
    .sec2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 7fr 1fr;
    }
    .sec2 .content2 {
        margin-top: 5%;
        left: 10px;
    }
    .sec2 .content2 .text p, h2 {
        font-size: 1.1rem;
    }
    .sec2 .message .chat {
        width: 90%;
        column-gap: 15px;
        margin-top: 5%;
    }
    .sec2 .message .chat .chat-text {
        font-size: 1rem;
        letter-spacing: 0px;
        line-height: 25px;
        padding: 10px;
    }
    .sec2 .message .chat .people, .chat2 .people {
        font-size: 1.5rem;
        justify-self: start;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .sec2 .message .chat-me .chat-text {
        font-size: 1rem;
        letter-spacing: 0px;
        line-height: 25px;
        padding: 10px;
    }
    .sec2 .message .chat-me {
        width: 90%;
        column-gap: 5px;
        margin-top: 5%;
    }
    .sec2 .message .chat-me .me {
        margin-left: 0px;
        font-size: 1.5rem;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .sec2 .message .chat2 {
        width: 90%;
        margin-top: 5%;
        column-gap: 15px;
    }
    .sec2 .message .chat2 .chat-text2 {
        font-size: 1rem;
        letter-spacing: 0px;
        padding: 10px;
        word-spacing: 0px;
        line-height: 20px;
    }
        /* Section 2 */
    .sec3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 0.8fr 2.3fr;
    }
    .sec3 .content3 {
        left: 5px;
    }
    .sec3 .analis {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        left: 0;
        margin-top: 0;
        gap: 0;
    }
    .sec3 .analis:hover {
        transform: none;
    } 
    .sec3 .content4 {
        left: 5px;
        margin-top: 0;
    }
    .sec3 .text1 p, h2 {
        font-size: 1rem;
    }
    .sec3 .analis p {
        font-size: 1rem;
    }
    .sec3 .analis h1 {
        font-size: 1.3rem;
    }
    /* Section 4 */
    .sec4 .content5 {
        position: static;
        justify-content: center;
        margin: 10px auto;
    }
    .sec4 .container:nth-child(2) {
        display: none;
    }
    .sec4 .container:nth-child(3) {
        display: inherit;
    }
    .sec5 .container {
        grid-template-rows: 1fr 0.75fr 0.5fr;
}
    .sec5 .container .wrap {
        margin-top: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }
    .sec5 .container .wrap br {
        display: none;
    }
    .sec5 .container .wrap i {
        margin-right: 10px;
    }
    .sec5 .container .wrap span {
        display: none;
    }
    .sec5 .container .wrap h2 {
        font-size: 1.1rem;
    }
    .sec5 .container .wrap p {
        font-size: 1rem;
        line-height: 120%;
        text-align: justify;
        align-self: center;
    }
    /* Setion 6 / portofolio */
    .sec6 .porto {
        grid-template-columns: 1fr;
        margin: 0px auto;
        width: 65%;
    }
    .sec6 .porto .porto-item:nth-child(1) {
        display: none;
    }
    .sec6 h1 {
        width: 80%;
        margin: 5% auto;
        font-size: 1.5rem;
    }
    .porto .porto-item h3 {
        display: none;
    }
    .porto .porto-item p {
        display: none;
    }
    .sec6 button {
        margin: 5% 10%;
    }
    /* Section 7 / About */
    .sec7 {
        height: auto;
    }
    .sec7 .container .about h1 {
        font-size: 2rem;
    }
    .sec7 .container .about h2 {
        font-size: 1.5rem;
        line-height: 1.1;
    }
    .sec7 .tools {
        grid-template-columns: 1fr;
        margin-top: 10%;
        row-gap: 10%;
    }
    .sec7 .container {
        display: block;
    }
    /* Footer */
    footer {
        width: 100%;
        left: 0;
        margin-top: 20%;
    }




}
