*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 1000px;
    box-sizing: border-box;
    overflow-x: hidden;
}
nav{
    height: 90px;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: end;
    align-items: center;
    position: sticky;
    top: 0px;
    padding-left: 0px;
    padding-right: 30px;
}
nav .logo{
    width: 50px;
    height: 50px;
    border: 3px solid #2ecc71;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    border-radius: 50%;
    color: #2ecc71;
    cursor: pointer;
    position: absolute;
    left: 30px;
}
nav .nav-list li{
    display: inline-block;
    list-style: none;
    font-weight: 600;
}
nav .nav-list li a{
    text-decoration: none;
    margin-left: 30px;
    color: white;
}
nav .nav-list li.btn a{
    color: #2ecc71;
}
nav .nav-list li:not(:last-child) a:hover{
    color: #2ecc71;
    transition: .4s;
}
input{
    width: 35px;
    height: 35px;
    display: none;
}
.hamb{
    position: absolute;
    right: 30px;
    width: 30px;
    height: 30px;
    display: none;
    /* border: 1px solid black; */
}
.hamb label{
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    /* border: 1px solid white; */
}
.hamb span{
    display: block;
    width: 100%;
    height: 3px;
    background-color: #2ecc71;
}
.hamb span:nth-child(2){
    margin: 10px 0px;
}
nav .nav-list li a{
    display: inline-block;
    color: #eee;
    margin-left: 55px;
    font-size: 15px;
    font-weight: 600;
}
nav .nav-list li:not(:last-child) a:hover{
    color: #2ecc71;
    transition: .4s;
}
nav .nav-list li.btn a{
    display: block;
    background: transparent;
    border: 2px solid #2ecc71;
    padding: 9px 28px;
    border-radius: 28px;
    line-height: 1.3;
    color: #2ecc71;
    font-weight: 500;
}
nav .nav-list li.btn:hover a{
    background: #2ecc71;
    border: 2px solid transparent;
    color: #eee;
    transition: .4s;
}
/* Responsive */
@media(max-width:800px) {
    /* Navigasi list */
    #check:checked ~ .nav-list {
        right: 0;
    }
    /* Hamburger Menu Animation */
    #check:checked ~ .hamb label span:nth-child(1){
        animation: span1 1s ease 1 alternate forwards;
    /* transition: all .4s;    */
    }
    #check:checked ~ .hamb label span:nth-child(2){
        animation: span2 1s ease 1 alternate forwards;   
    }
    #check:checked ~ .hamb label span:nth-child(3){
        animation: span3 1s ease 1 alternate forwards;   
    }
    @keyframes span1 {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0, 13px);
    }
    100% {
        transform: translate(0, 13px) rotate(-45deg);
    }
    }
    @keyframes span2 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
    }
    @keyframes span3 {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0, -13px);
    }
    100% {
        transform: translate(0, -13px) rotate(45deg);
    }
    }
/* End of hamburger menu */

    nav .hamb{
        display: initial;
    }
    nav .nav-list{
        position: absolute;
        top: 90px;
        right: -90%;
        width: 50%;
        height: 300%;
        background: rgba(0,0,0,1);
        z-index: 2;
        padding: 5% ;
        transition: .7s right;
        /* border-radius: 5px; */
    }
    nav .nav-list li{
        display: block;
    }
    nav .nav-list li a{
        display: block;
        text-align: center;
        margin-left: 0;
        margin-bottom: 30px;           
    }
    nav .nav-list li.btn a{
        position: absolute;
        bottom: 0%;
        right: 20%;
        left: 20%;
        padding: 7px 15px;
    }
}

