* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    overflow-x:hidden;
    height: 1000px;
}
 
/* Navbar */
nav {
    display: flex;
    background-color: lightskyblue;
    justify-content: space-around;
    /* padding: 20px 0; */
    color: rgb(242, 246, 248);
    height: 60px;
    align-items: center;
    position: sticky;
    top: 0;
}

nav .logo {
    font-family: 'Zen Dots', cursive;
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    /* background-color: black; */
    justify-content: space-between;
}

nav ul li a {
    color :rgb(242, 246, 248);
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
}

/* Hamburger menu */
.menu-toggle {
display: none;
flex-direction: column;
height: 20px;
/* background-color: yellow; */
justify-content: space-between;
position: relative;
}

.menu-toggle input {
    position: absolute;
    left: -6px;
    top: -4px;
    opacity: 0;
    width: 40px;
    height: 28px;
    cursor: pointer;
    z-index: 2;

}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(242, 246, 248);
    border-radius: 5px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}


.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);

}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0px);

}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);

}



/* Responsive Breakpoint */

/* Responsive tablet */
@media screen and (max-width :768px) {
    nav ul {
        width: 50%;
    }
}

/* ukuran mobile */
@media screen and (max-width :576px) {
    .menu-toggle{
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        background-color: lightskyblue;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        width: 70%;
        transform: translate(100%);
        transition: all 1s;
        opacity: 0;
        
    }

    nav ul.slide{
        transform: translate(0);
        opacity: 1;
    }
}

